@import '../../scss/styles.scss';

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 22.5rem;
  margin: 1rem 0.5rem 0 0.5rem;
  padding: 0 0 1rem 0;
  background-color: #fff;
  cursor: pointer;
  color: $brand-dark;
  overflow: hidden;
  box-shadow: 0 2px 8px 0 $dark-alpha;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  z-index: 10;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px 0 $dark-alpha
  }

  &__thumbnail {
    // debug
    border: 5px solid green;
  }

  &__text {
    // debug
    border: 5px solid blue;
  }
}