/*
Brand Colors
------------------------- */
$brand-dark: #2d2d2d;
$brand-gray: #f6f6f6;
$brand-gold: #f1c34a;
$brand-green: #4c884b;

/*
Colors + Alpha Transparency
------------------------- */
$dark-alpha: rgba(0,0,0,0.1);
$dark-gray-alpha: rgba(81,81,81, 1);
$gray-alpha: rgba(145,145, 145, 1);