/*
Brand Colors
------------------------- */
$brand-dark: #2d2d2d;
$brand-gray: #f6f6f6;
$brand-gold: #f1c34a;
$brand-green: #4c884b;

/*
Color Variants
------------------------- */
$dark-2: #515151;
$gray-2: #ccc;
$green-2: #B0C472;

/*
Colors + Alpha Transparency
------------------------- */
$dark-alpha: rgba(0,0,0,0.1);
$dark-gray-alpha: rgba(81,81,81, 1);
$gray-alpha: rgba(145,145, 145, 1);

/*
Typography
------------------------- */
$font-size-h1: 40px;
$font-height-h1: 53px;

/*
Media Query Breakpoints
------------------------- */
$screen-xxs: 319px;
$screen-xs: 445px;
$screen-sm: 600px;
$screen-md: 838px;
$screen-lg: 960px;
$screen-xl: 1240px;

$screen-map: (
  xxs: $screen-xxs,
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl,
);
